@import "./card-component.css";

/* 카드 레이아웃 */
.card-01 {
  background-image: url(../products/ipad_pro.jpeg);

  @media (min-width: 1024px) {
    background-image: url(../products/ipad_pro_wide.jpeg);
  }
}

.card-02 {
  background-image: url(../products/ipad_air.jpeg);

  @media (min-width: 1024px) {
    background-image: url(../products/ipad_air_wide.jpeg);
  }
}

.card-03 {
  background-image: url(../products/iphone15_pro.jpeg);

  @media (min-width: 1024px) {
    background-image: url(../products/iphone15_pro_wide.jpeg);
  }
}

.card-04 {
  background-image: url(../products/iphone15.jpeg);

  @media (min-width: 1024px) {
    background-image: url(../products/iphone15_2x.jpeg);
  }
}

.card-05 {
  background-image: url(../products/apple_watch.jpeg);
  @media (min-width: 1024px) {
    background-image: url(../products/apple_watch_2x.jpeg);
  }
}

.card-06 {
  background-image: url(../products/macbook_air.jpeg);
  @media (min-width: 1024px) {
    background-image: url(../products/macbook_air_2x.jpeg);
  }
}

.card-07 {
  background-image: url(../products/airpods_pro.jpeg);

  @media (min-width: 1024px) {
    background-image: url(../products/airpods_pro_2x.jpeg);
  }
}

.main {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);

    .card-01 {
      grid-area: 1 / 1 / 2 / 3;
    }
    .card-02 {
      grid-area: 2 / 1 / 3 / 3;
    }
    .card-03 {
      grid-area: 3 / 1 / 4 / 3;
    }
  }
}
